<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
  <body style="background-color: #f4fdff; font-family: 'Roboto Slab', serif; ">
    <header>
      <img width="120px" height="70px"src="https://firebasestorage.googleapis.com/v0/b/photography-5b191.appspot.com/o/logo_black.png?alt=media&token=3bcaf3d5-e6e8-49c7-a052-2a96dd9a8dff" alt="">
    </header>
    <div>
      <ul style="list-style: none;">
        <h4>Booking informasjon</h4>
        <li><span>Navn:</span> <span>{{name}}</span></li>
        <li><span>Epost:</span><span>{{email}}</span></li>
        <li><span>Nummer:</span><span>{{number}}</span></li>
        <li><span>Melding:</span><span>{{message}}</span></li>
        <li><span>Dato ønsket:</span><span>{{date}}</span></li>
        <li><span>Ønsket tid:</span><span>{{timePicked}}</span></li>
        <li><span>Type shoot:</span><span>{{typeOfShoot}}</span></li>
        <li><span>Lengen på shoot:</span><span>{{durationOfShoot}}</span></li>
        <li><span>Type møtet:</span><span>{{typeOfMeeting}}</span></li>
        <span>Vil du godkjenne bookingen? Klikk her: {{accept}}</span>
      </ul>
    

    </div>
  </body>
</html>
